.container {
    max-width: 1000px;
    background-color: red;
    margin: 0 auto;
}

.yellow {
    background-color: yellow;
    min-height: 150px;
}

.d-flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-col {
    flex-direction: column;
}

.border {
    border: 1px solid;
}

.margin {
    margin: 5px;
}

.f-grow {
    flex-grow: 1;
}

.yellow:nth-child(odd) {
    width: 75%;
}

.yellow:nth-child(even) {
    width: 25%;
}

.reverse {
    flex-direction: row-reverse;
}

.blue {
    background-color: blue;
    min-height: 150px;
}

.pink {
    background-color: hotpink;
    min-height: 150px;

}

.green_background {
    margin: 20px auto;
    width: 60%;
    background-color: greenyellow;
}


@media (max-width: 540px) {
    .first, .second {
        flex-direction: column;
    }

    .yellow:nth-child(odd) {
        width: calc(100% - 10px);
    }

    .yellow:nth-child(even) {
        width: calc(100% - 10px);
    }

    .green_background {
        width: 90%;
        margin: 10px auto;
    }
}

@media only  screen and (orientation: portrait) {
    .yellow, .blue, .pink {
        min-height: 400px;
    }
}
